<% page = { 'title' : 'PAGE_TITLE', 'key': 'INDEX_PAGE_NAME'} %>
<% assets = { 'css' : ['angello.css'], 'js' : ['angello.js'] } %>
<div id="main" class="experiments" ng-app="Angello">
  <div ng-controller="MainCtrl">
    <div class="span4 sidebar-content">
      <h2>Stories</h2>
      <div class="story"
          ng-repeat="story in stories"
          ng-click="setCurrentStory(story)">
        <h4>{{story.title}}</h4>
        <p>{{story.description}}</p>
      </div>
      <button ng-click="newStory()">New Story</button>
    </div>
    <div class="span6 body-content">
      <h2>Story</h2>
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="inputTitle">Title</label>
          <div class="controls">
            <input type="text"
              placeholder="Title"
              ng-model="currentStory.title">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label"
            for="inputDescription">Description</label>
          <div class="controls">
            <textarea id="inputDescription"
              placeholder="Description"
              rows="3"
              ng-model="currentStory.description">
            </textarea>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button ng-click="deleteStory(currentStory)">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
